# Node.js Dependencies
node_modules/

# Distribution files
dist/
dist-ssr/

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Project-specific files (add as needed)
# .env
# local-setup.sh
# ...

# Optional: Add comments to explain certain patterns
