body, html {
    margin: 0;
    padding: 0;
    background-color: #72D3FE;
}

.information{
    color: black;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #72D3FE;
    height: 120vh;
    width: 100%;
    .informationContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
        margin: 30px;
        margin-top: -40px; // posición de los elementos en el top
        .titlesDiv{
            text-align: center;
            margin-bottom: 2rem;
            small{
                letter-spacing: .8rem;
                text-transform: uppercase;
                font-size: 20px;
                color: var(--blackColor);
                line-height: 1.5rem;
            }
        }

        .infoDiv{
            margin-top: 2rem;
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            gap: 1.5rem;

            .textDiv{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .singleInfo{
                    .number{
                        background: var(--PrimaryColor);
                        padding: 5px 12px;
                        width: 40px;
                        border-radius: 3rem;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 700;
                        color: var(--whiteColor);
                    }

                    .colorOne{
                        background: var(--HoverColor);
                    }
                    .colorTwo{
                        background: var(--HoverColor);
                    }
                    .colorThree{
                        background: var(--HoverColor);
                    }
                }
            }

            .imgDiv{
                flex: -20;
                img{
                    width: 100%;
                    max-width: 2000px;
                }
            }
        }
    }
}
