.section-white {
  background: #fff;
  padding: 70px 0;
  margin-top: -100px;
}
.section-white .services {
  margin: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
}
.section-white .services h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: black;
}
.section-white .services p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
  text-shadow: none;
}
.section-white .services .first-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.section-white .services .first-service .serv-text {
  width: 45%;
  text-align: center;
  font-size: 1.1rem;
}
.section-white .services .first-service .serv-text h2 {
  padding-bottom: 1rem;
}
.section-white .services .first-service .serv-text p {
  text-align: justify;
}
.section-white .services .first-service .photos {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.section-white .services .first-service .photos img {
  width: 49%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.section-white .services .first-service .photos img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}
.section-white .services .first-service-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.section-white .services .first-service-reverse .serv-text {
  width: 45%;
  text-align: center;
  font-size: 1.1rem;
}
.section-white .services .first-service-reverse .serv-text h2 {
  padding-bottom: 1rem;
}
.section-white .services .first-service-reverse .serv-text p {
  text-align: justify;
}
.section-white .services .first-service-reverse .photos {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.section-white .services .first-service-reverse .photos img {
  width: 49%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.section-white .services .first-service-reverse .photos img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}
@media screen and (max-width: 850px) {
  .section-white .services .destination {
    margin: 4rem 2rem;
  }
  .section-white .services .first-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;
    justify-content: space-between;
  }
  .section-white .services .first-service .serv-text {
    width: 100%;
  }
  .section-white .services .first-service .photos {
    width: 100%;
    margin: 1.8rem 0;
  }
  .section-white .services .first-service .photos img {
    height: 250px;
  }
  .section-white .services .first-service-reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4.5rem;
  }
  .section-white .services .first-service-reverse .serv-text {
    width: 100%;
  }
  .section-white .services .first-service-reverse .photos {
    width: 100%;
    margin: 1.8rem 0;
  }
  .section-white .services .first-service-reverse .photos img {
    height: 250px;
  }
}/*# sourceMappingURL=TiposServicios.css.map */